<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CruzHacks2023</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <h3>
        Enter a Youtube link:
    </h3>
    <form action="/" method="POST">
        <input id="urlInput" name="linkInput" type="text"/>
        <br/>
        <input type="submit" id="analyzeBtn" value="Analyze"/>
    </form>
    {{ chatbox }}
</body>
</html>