body {
    margin-top: 150px;
    text-align: center;
    background-color: #494949;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 1px;
    color: #E4E4E4;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
#urlInput {
    height: 40px;
    width: 500px;
    border-radius: 25px;
    text-align: center;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
}

#analyzeBtn {
    margin-top:20px;
    height: 30px;
    width: 150px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    color: #E4E4E4;
    background-color: #060606;
}

#videoplayer {
    margin: auto;
}

.chatbox {
    background-color:#282828;
    height: 500px;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    padding: 0;
}

#questionTextInput {
    background-color: #353535;
    color: #ffffff;
    height: 40px;
    width: 50%;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 50px;
    left:25%;
    border:0;
}