body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 1px;
    color: #E4E4E4;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.title {
    margin-top: 80px;
}
h1 {
    font-size: 60px;
    display: inline;
}
.titleAI {
    background: -webkit-linear-gradient(0deg, #FF2900 0%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.urlInput {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}

#urlTextInput {
    background: transparent;
    margin-left:15px;
    height: 35px;
    width: 430px;
    border:0;
    font-size: larger;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#urlTextInput:focus {
    outline: none;
}

#analyzeBtn {
    border-color:#9a9a9a;
    border-width:1px;
    margin-top:20px;
    height: 30px;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    color: #E4E4E4;
    background: -webkit-linear-gradient(0deg, #FF2900 0%, #FFE600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#analyzeBtn:hover {
    box-shadow: 0px 0px 10px 2px rgba(255, 77, 0, 0.8); 
}

.progressLoader {
    width: 80px;
    margin: auto;
}

#videoplayer {
    margin: auto;
}

