.Question {
    background-color: #282828;
}

.Answer {
    background-color: #515151;
}

.textAreaQuestion {
    color: white;
    font-size: larger;
    text-align: right;
    height: 50px;
    top: 25%;
}

.textAreaAnswer {
    color: white;
    font-size: larger;
    text-align: left;
    height: 50px;
    top: 25%;
}